<h1>Enrollment Requests</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Student Name</th>
      <th>Batch Name</th>
      <th>Message</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'enrollment', collection: @enrollments %>
  </tbody>
</table>
